html {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
}

#body {
    content: '';
    position: relative;
    background-image: url(../images/img2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px;
    color: white;
    text-align: center;
    margin: 20px;
}

#root {
    width: 60vw;
    background: rgba(63, 63, 71, 0.5);
    text-align: center;
    background-attachment: scroll;
    margin: auto;
}

@media (min-width: 400px) {
    #root {
        padding: 2.5rem;
    }
}

#survey-form {
    width: 40vw;
    padding: 1.5em;
    color: white;
    text-align: left;
    margin: auto;
}

input[type="text"], input[type="email"], input[type="number"], textarea, select {
    width: 40vw;
    margin-top: 0.5vmin;
    padding: 0.5vmin;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
}

#number, #mob-no {
    width: 16vw;
}

.box-container {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.age {
    width: 40%;
}

.mobno {
    width: 40%;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 0.5vmin;
}

#suggestions {
    height: 12vh;
}

button {
    width: 20vw;
    margin: auto;
    padding: 0.8vmin;
    border-radius: 6px;
    background: green;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 22px;
    font-weight: 800;
    color: white;
    border: 1.5px solid lawngreen;
}

#submit {
    text-align: center;
    margin: 0 auto;
    display: block;
}

button:clicked {
    display: inline-block;
    z-index: -1;
    transform-origin: 0% 50%;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 14px;
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
}